<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Processed</title>
</head>

<body>

    Well you did it.
    <br>
    You added <%- name %> and <%- info %>
    <br>
    To a mongo db database.
    <br>
    <br>
    <br>
    congrats
	
</body>

</html>